@charset "utf-8";

body {
    background-color: whitesmoke;
    margin: 0;
}

.todo-list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding-bottom: 75px;

}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    border-bottom: 1px solid #949494;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: black;
}

.done {
    color: #cecece;
    text-decoration: line-through;
    font-style: italic;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}

.Greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 15px;
    height: 150px;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Motivation {

    margin-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
    text-align: center;
    flex-shrink: 0;
    }

.wordList {
    list-style: none;
    flex-direction: column;
}

.wordEN {
    list-style: none;
    background: url("./Components/words/united-kingdom.png") no-repeat 0 4px;
    background-size: 50px;
    height: 60px;
    padding-left: 60px;
    line-height: 50px;
}

.wordDE {
    list-style: none;
    background: url("./Components/words/germany.png") no-repeat 0 4px;;
    background-size: 50px;
    height: 60px;
    padding-left: 60px;
    line-height: 50px;
}

.Content {
    width: 75%;
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}

